.legend-block {
  position: absolute;
  top: 30px;
  right: -290px;
  transition: right 1s ease-in-out;

  &.active {
    right: 0;
  }

  .legend-btn {
    position: absolute;
    top: 30px;
    left: -59px;
    background: #C22918;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;

    .btn-icon {
      width: 33px;
      height: 36px;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  .legend-popup {
    text-align: center;
    background-color: #fff;
    border: 1px solid #1D1D1D;
    border-radius: 10px 0 0 10px;
    padding: 10px 15px;

    .info-popup-list {
      padding: 14px 0;

      .list-item {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 6px 9px;
        width: 240px;
        border-radius: 15px;

        &:hover {
          background: rgba(0, 0, 0, 0.06);
          cursor: pointer;
        }
      }
    }
  }
}

.list-item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 6px 9px;
  width: 240px;
  border-radius: 15px;

  &:hover {
    background: rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }

  .department-color {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 10px;
  }

  .department-name {
    font-size: 14px;
  }
}
