<div class="legend-block" id="legend">
  <div class="legend-btn" (click)="legendService.openLegend()">
    <div class="btn-icon" id="btn-icon">
      <svg width="33" height="36" viewBox="0 0 33 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1" y1="-1" x2="23.7588" y2="-1" transform="matrix(-0.686624 0.727013 0.727013 0.686624 33 1)"
              stroke="white" stroke-width="2" stroke-linecap="round"/>
        <line x1="1" y1="-1" x2="23.6843" y2="-1" transform="matrix(0.688698 0.725049 0.725049 -0.688698 16 16.2)"
              stroke="white" stroke-width="2" stroke-linecap="round"/>
        <line x1="1" y1="-1" x2="23.7588" y2="-1" transform="matrix(-0.686624 0.727013 0.727013 0.686624 19 1)"
              stroke="white" stroke-width="2" stroke-linecap="round"/>
        <line x1="1" y1="-1" x2="23.6843" y2="-1" transform="matrix(0.688698 0.725049 0.725049 -0.688698 2 16.2)"
              stroke="white" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </div>
  </div>
  <div class="legend-popup popup">
    <div class="info-popup-title">Легенда</div>
    <div class="info-popup-list">

    </div>
  </div>
</div>
