* {
  font-family: Circe, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.btn {
  background: transparent;
  text-align: center;
  color: #C22918;
  font-size: 16px;
  cursor: pointer;
}

.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .popup {
    position: absolute;
    top: calc(50% - 195px);
    text-align: center;
    background-color: #fff;
    border: 1px solid #1D1D1D;
    border-radius: 10px;
  }

  .popup-title {
    font-size: 24px;
    color: #1D1D1D;
    padding-bottom: 10px;
  }

  .popup-input {
    font-size: 16px;
    color: #1D1D1D;
    padding: 14px 25px;
    margin: 10px 0;
    border: 1px solid #9D9D9D;
    border-radius: 10px;
    outline: none;
    &.error {
      border-color: red;
    }

    &::placeholder {
      color: #DFDFDF;
    }
  }

  .popup-btn {
    border: 1px solid #DFDFDF;
    border-radius: 20px;
    height: 50px;
    margin-top: 20px;
  }

  .error-message {
    position: absolute;
    color: red;
    bottom: 88px;
    display: none;
  }

  .change-pass-popup {
    padding: 26px 62px 20px 62px;

    .change-pass-btn {
      width: 140px;
    }
  }
}
