<div class="popup-container" id="popup-container">
  <div class="change-pass-popup popup">
    <div class="popup-title">Восстановление</div>
    <form action="">
      <div>
        <input type="password" class="popup-input" placeholder="Новый пароль" #password>
      </div>
      <div>
        <input type="password" class="popup-input" placeholder="Повторите пароль" #confirmPassword>
      </div>
      <button type="button" class="popup-btn change-pass-btn btn" (click)="appComponent.changePassword(password.value, confirmPassword.value)">Изменить</button>
    </form>
  </div>
</div>
