* {
  font-family: Circe, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.btn {
  background: transparent;
  text-align: center;
  color: #C22918;
  font-size: 16px;
  cursor: pointer;
}

.department-info-container {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 1s linear;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.department-color {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 10px;
}

.info-popup {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  transition: right 1s ease-in-out;
  height: 100%;
  text-align: center;
  background-color: #fff;
  width: 600px;
  padding: 20px 30px;
  box-sizing: border-box;

  &.active {
    right: 0;
  }
}

.info-popup-title {
  font-size: 16px;
  color: #1D1D1D;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.department-name {
  font-size: 14px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 13px;
  cursor: pointer;
}

.section-title {
  font-weight: 700;
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.section-text {
  font-size: 18px;
}

.section-list {
  .section-list-item {
    font-size: 18px;
    border-radius: 15px;
    padding: 0 10px;
    display: inline-block;
  }
}
