@import "src/app/app.component";

.list-item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 6px 9px;
  width: 240px;
  border-radius: 15px;

  &:hover {
    background: rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }
}

table {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1;
  border-collapse: collapse;
  width: 100%;

  thead, tbody {
    tr {
      td {
        margin: 2px 0;
        padding: 3px 10px;
      }
    }
  }

  thead {
    font-size: 18px;
  }

  tbody {
    tr {
      td {
        &.employee-name {
          cursor: pointer;
          border-right: 1px solid #777474;
        }
        &.loading {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      background: #F0F0F0;

      &:first-child {
        td:first-child {
          border-top-left-radius: 8px;
        }

        td:last-child {
          border-top-right-radius: 8px;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid #777474;
      }

      &:last-child {
        td:first-child {
          border-bottom-left-radius: 8px;
        }

        td:last-child {
          border-bottom-right-radius: 8px;
        }
      }
      td:first-child {
        border-right: 1px solid #777474;
      }
      td:last-child {
        border-left: 1px solid #777474;
      }
    }
  }
}

.department-info-popup {
  .department-info-popup-title {
    display: flex;
    justify-content: center;
    align-items: center;

    .department-name {
      font-size: 24px;
      line-height: 1;
    }
  }

  .section-list {
    .section-list-item {
      &:hover {
        background: rgba(255, 128, 128, 0.59);
      }
    }
  }
}
