<!--<div class="list-item" (click)="info = true">
  <div class="department-color" [style.background-color]="department.color"></div>
  <div class="department-name">{{ department.name }}</div>
</div>

<div *ngIf="info">
  <div
    class="department-info-container"
    (click)="info = false"
  ></div>

  <div class="department-info-popup info-popup">
    <div class="close-btn" (click)="info = false">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="2.64645" y1="17.1551" x2="17.1551" y2="2.64644" stroke="black"/>
        <line x1="3.35355" y1="2.64645" x2="17.8622" y2="17.1551" stroke="black"/>
      </svg>
    </div>
    <div class="info-popup-title department-info-popup-title">
      <div class="department-color" [style.background]="department.color"></div>
      <div class="department-name">{{ department.name }}</div>
    </div>
    <div class="common-info">
      <div class="section-title">Общая информация</div>
      <div class="section-text">{{ department.commonInfo }}</div>
    </div>
    <div class="department-heads">
      <div class="section-title">Руководитель отдела</div>
      <div class="section-list">
        <div class="section-list-item">{{ department.head }}</div>
      </div>
    </div>
    <div class="department-members">
      <div class="section-title">Участники</div>
      <table>
        <thead>
        <tr>
          <td>ФИО</td>
          <td>ЗАГРУЖЕННОСТЬ</td>
          <td>ПРОЕКТЫ</td>
          <td>НАВЫКИ</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of department.members">
          <td>{{ employee.lastName + " " + employee.firstName.charAt(0) + ". " + employee.secondName.charAt(0) + "." }}</td>
          <td *ngIf="employee.projectMembership.length > 2; else medium" class="loading">
            <div class="indicator red"></div>
            <span>Высокая</span>
          </td>
          <ng-template #medium>
            <td class="loading">
              <div class="indicator yellow"></div>
              <span>Средняя</span>
            </td>
          </ng-template>
          <td>{{ employee.projectMembership.length }}</td>
          <td>{{ employee.commonInfo.skillGrade }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->


<div class="list-item" (click)="info = true">
  <div class="department-color" [style.background]="department.colorDepartamemnt"></div>
  <div class="department-name">{{ department.nameDepartament }}</div>
</div>

<div *ngIf="info">
  <div
    class="department-info-container"
    (click)="info = false"
  ></div>

  <div class="department-info-popup info-popup">
    <div class="close-btn" (click)="info = false">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="2.64645" y1="17.1551" x2="17.1551" y2="2.64644" stroke="black"/>
        <line x1="3.35355" y1="2.64645" x2="17.8622" y2="17.1551" stroke="black"/>
      </svg>
    </div>
    <div class="info-popup-title department-info-popup-title">
      <div class="department-color" [style.background-color]=department.colorDepartamemnt></div>
      <div class="department-name">{{ department.nameDepartament }}</div>
    </div>
    <div class="common-info">
      <div class="section-title">Общая информация</div>
      <div class="section-text">{{ department.infoDepartament }}</div>
    </div>
    <div class="department-heads">
      <div class="section-title">Руководитель отдела</div>
      <div *ngFor="let employees of department.employees">
        <div class="section-list">
          <div class="section-list-item"
               *ngIf="employees.isDepartamentHead === true">{{ employees.lastName + " " + employees.firstName + " " + employees.middleName }}</div>
        </div>
      </div>
    </div>
    <div class="department-members">
      <div class="section-title">Участники</div>
      <table>
        <thead>
        <tr>
          <td>ФИО</td>
          <td>ЗАГРУЖЕННОСТЬ</td>
          <td>НАВЫКИ</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of department.employees">
          <td>{{ employee.lastName + " " + employee.firstName.charAt(0) + ". " + employee.middleName.charAt(0) + "." }}</td>
          <td class="loading" *ngFor="let projects of employee.projects">
            <div>{{projects.project.nameProject}}</div>
          </td>
          <td>{{ employee.post }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
